body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
        background: linear-gradient(135deg, #d9f4ff, #e4ffe7);
}
.port{
    border: 2px black solid;
    width: 30vw; border-color: #0a6fa6;

    background: #ffffff;
    height: 85vh;
   
}
.name{
    border: 2px black solid;
    height: 10vh;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-left: none;
    border-top: none;
    border-right: none;
    
    border-bottom: 2px solid #0a6fa6;

    background-color: #e7f7ff;


}
.pic{
height: 20vh;
align-items: center;
display: flex;
}
.picc{
    border: 2px black solid;
     height: 65%;
     width: 30%;
     border-radius: 50%;
     margin-left: 40px;
    text-align: center;
     background: #b3e6ff;
    border: 2px solid #0a6fa6;
    }
 .namee{
    height: 100%;
    margin-left: 30px;
    flex-direction: column;
    display: flex;
    margin-bottom: 0;
} 
.namee h4{
    margin-bottom: 0;
       color: #0a4d78;
}
.namee p{
    margin-top: 0;
    font-size: smaller;
     color: #3d4d57;

}
.info{
    width: %;
    height: 80px;
    border: 2px black solid;
    padding: 0 15px;
     border-left: none;
background-color: #f3fcff; 
    border-right: none;
  
}
.info h3{
    margin-bottom: 0;
     color: #0a4d78;
}
.info p{
    margin-top: 0;
     color: #3d4d57;
}
.bigbox{
    height: 113px;
    width: 100%;
   display: flex;
   justify-content: space-evenly;
 align-items: center;
}
.box1{
     width: 25%;    
     height: 45%;
    border: 2px black solid;
background-color: #e7f9ff;
}

    
